<h2 mat-dialog-title>Editar Perfil</h2>
<mat-dialog-content class="space-y-4">
  <form [formGroup]="form" class="p-4 flex flex-col gap-4">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Nombre</mat-label>
      <input matInput maxlength="25" formControlName="nombre" />
      <mat-error *ngIf="submitted && form.get('nombre')?.hasError('required')">
        Este campo es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefono" />
      <mat-error *ngIf="submitted && form.get('telefono')?.hasError('required')">
        Este campo es obligatorio
      </mat-error>
    </mat-form-field>

    <!-- <mat-form-field appearance="fill" class="w-full">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="direccion" />
    </mat-form-field>
  </form>
</mat-dialog-content> -->

    <mat-dialog-actions align="end">
      <div mat-dialog-actions align="end">
        <button mat-stroked-button (click)="onCancel()">Cancelar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Aceptar</button>
      </div>
    </mat-dialog-actions>
