<div *ngIf="hayPedidosPendientes"
  class="p-4  text-sm text-green-700  dark:text-green-300  bg-gray-100 dark:bg-gray-800 flex items-center justify-start "
  role="alert">
  <span class="font-medium">
    <div
      class="inline-flex items-center justify-center shrink-0 w-8 h-8 text-green-500 bg-gray-100 rounded-lg dark:bg-gray-800 dark:text-green-200">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
        <path fill-rule="evenodd"
          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
          clip-rule="evenodd" />
      </svg>

    </div>
  </span><span class="ms-2 font-semibold">Tenés pedidos pendientes.</span>
</div>
