<div class="sm:ml-64">
  <section
    class="bg-gradient-to-br from-white to-white dark:from-gray-900 dark:to-gray-800 min-h-screen w-full py-12 px-4">
    <div class="text-xl sm:text-3xl font-extrabold text-gray-900 dark:text-white text-center mb-10">
      ¡Hola bienvenido a <span class="capitalize" *ngIf="brand"> {{brand}}</span>! <br>¿Qué vas a pedir hoy?
    </div>

    <div class="w-full">
      <app-spinner *ngIf="loading"></app-spinner>

      <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 px-4">
        <ng-container *ngFor="let category of groupedProducts | keyvalue">
          <a *ngIf="brand" [routerLink]="['/tienda', brand, 'categorias', category.value.categoryId]"
            class="mt-2 relative group h-48 sm:h-56 md:h-64 lg:h-72 rounded-3xl overflow-hidden shadow-md hover:shadow-xl transition-all duration-300 ease-in-out ring-1 ring-gray-300 dark:ring-gray-700 hover:ring-2 hover:ring-primary-500 cursor-pointer">

            <div
              class="absolute inset-0 bg-cover bg-center transition-transform duration-300 group-hover:scale-105 group-hover:brightness-75"
              [ngStyle]="{ 'background-image': 'url(' + category.value.image + ')' }">
            </div>

            <div class="absolute inset-0 bg-black/40 group-hover:bg-black/60 transition duration-300"></div>

            <div class="relative z-10 flex items-center justify-center h-full">
              <span
                class="text-white text-xl sm:text-2xl md:text-3xl font-semibold tracking-wider uppercase text-center px-4 py-2 rounded-xl backdrop-blur-md bg-black/30 dark:bg-gray-900/40 border border-white/20 dark:border-white/10 shadow-md">
                {{ category.key }}
              </span>
            </div>
          </a>
        </ng-container>
      </div>

    </div>
  </section>
</div>
