<app-spinner *ngIf="loading"></app-spinner>

<div class="bg-gradient-to-br from-white to-white dark:from-gray-900 dark:to-gray-800 min-h-screen w-full">

  <div class="p-6 max-w-7xl mx-auto  ">
    <div class="mb-4">
      <button (click)="goBack()"
        class="flex items-center mr-auto gap-2 bg-gray-100 dark:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-700 transition-colors text-gray-700 dark:text-gray-300 font-medium px-4 py-2 rounded-lg shadow-xl  ">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
        </svg>
        Volver
      </button>
    </div>
    <h2 class="text-2xl md:text-3xl font-bold text-gray-800 dark:text-white mb-6">
      {{categoryName}}
    </h2>

    <div class="mb-8">
      <div class="relative max-w-md">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400 dark:text-gray-500">
          <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 103 10.5a7.5 7.5 0 0013.15 6.15z" />
          </svg>
        </span>
        <input type="text" placeholder="Buscar producto..." [(ngModel)]="searchTerm" class="w-full pl-10 pr-4 py-2 border border-gray-300 dark:border-gray-600 rounded-xl shadow-sm
        bg-white dark:bg-gray-800 text-gray-900 dark:text-white
        placeholder-gray-400 dark:placeholder-gray-500
        focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>
    </div>

    <div *ngIf="filteredProducts().length > 0; else noProducts"
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <div *ngFor="let product of filteredProducts()"
        class="bg-white dark:bg-gray-800 rounded-2xl shadow-md hover:shadow-lg ring-1 ring-gray-200 dark:ring-gray-700 transition-all duration-300 overflow-hidden flex flex-col">


        <div class="relative">
          <img *ngIf="product.image_url" [src]="product.image_url" alt="{{ product.name }}"
            class="w-full h-48 object-cover transition-transform duration-300 group-hover:scale-105" />
        </div>


        <div class="p-4 flex flex-col justify-between flex-1 space-y-3">
          <span class="text-lg font-semibold leading-tight text-gray-900 hover:underline dark:text-white">{{
            product.name }}</span>

          <span class="text-xl font-bold text-blue-600 dark:text-blue-400">
            {{ product.price | currency:'$':'symbol':'1.2-2' }}
          </span>

          <a [routerLink]="['/tienda', brand, 'producto', product.id]"
            class="mt-auto inline-block text-center px-4 py-2 rounded-lg text-white bg-gradient-to-r from-blue-400 to-blue-600 hover:from-green-500 hover:to-green-800 transition-colors text-sm font-medium">
            Ver detalle
          </a>
        </div>
      </div>



    </div>

    <ng-template #noProducts>
      <div class="text-center text-gray-500 dark:text-gray-400 mt-10 text-lg">
        No se encontraron productos.
      </div>
    </ng-template>
  </div>
</div>
