<div class="sm:ml-64">
  <app-dashboard></app-dashboard>
  <div class="p-6 w-full sm:w-6/12 min-h-screen mx-auto  dark:text-gray-100">
    <h2 class="text-2xl font-bold mb-6 text-gray-800 dark:text-gray-100">Gestión de Categorías</h2>

    <app-spinner *ngIf="loading"></app-spinner>

    <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-4 gap-4">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar categoría..."
        class="w-full sm:w-64 px-4 py-2 border border-gray-300 dark:border-gray-600 rounded-md bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-100 placeholder-gray-400 dark:placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-400" />

      <button
        class="px-4 py-2 bg-blue-600 text-white rounded-md text-sm font-semibold hover:bg-blue-700 dark:hover:bg-blue-500 transition"
        (click)="openCategoryDialog()">
        Crear categoría
      </button>
    </div>

    <div class="overflow-x-auto rounded-xl shadow-md border border-gray-200 dark:border-gray-700">
      <table class="min-w-full">
        <thead class="bg-gray-50 dark:bg-gray-800">
          <tr class="bg-gray-100 dark:bg-gray-700 text-gray-600 dark:text-gray-300">
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">
              Acciones</th>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">
              Nombre</th>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500  dark:text-gray-300 uppercase tracking-wider">
              Descripción</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cat of paginatedCategories()"
            class="bg-white dark:bg-gray-800 text-gray-700 dark:text-gray-200 hover:bg-gray-50 dark:hover:bg-gray-700 transition">
            <td class="py-3 px-6  ">
              <button
                class="inline-flex items-center text-gray-500 dark:text-gray-300 bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-600 focus:outline-none hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-600 font-medium rounded-lg text-sm px-3 py-1.5"
                type="button" (click)="toggleDropdown(cat.id!)" [attr.id]="'dropdownButton-' + cat.id">
                <span class="sr-only">Action button</span>
                Acciones
                <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 1 4 4 4-4" />
                </svg>
              </button>

              <div *ngIf="openDropdownId === cat.id"
                class="dropdown-menu absolute z-10 w-44 bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg shadow">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
                  <li>
                    <a (click)="openCategoryDialog(cat)"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 cursor-pointer">
                      Editar Categoría
                    </a>
                  </li>
                  <li>
                    <a (click)="deleteCategory(cat.id!
                  )" class="block px-4 py-2 text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 cursor-pointer">
                      Eliminar Categoría
                    </a>
                  </li>

                </ul>
              </div>
            </td>
            <td class="py-3 px-6 max-w-xs truncate whitespace-nowrap overflow-hidden text-ellipsis">{{ cat.name }}</td>
            <td class="py-3 px-6 max-w-xs truncate whitespace-nowrap overflow-hidden text-ellipsis">
              {{ cat.description }}
            </td>


          </tr>
          <tr *ngIf="filteredCategories().length === 0">
            <td colspan="3" class="px-6 py-4 text-center text-gray-500 dark:text-gray-400">
              No se encontraron categorías.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <nav class="flex items-center flex-row justify-end pt-4" aria-label="Table navigation">
      <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
        <li>
          <button (click)="prevPage()" [disabled]="currentPage === 1"
            class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"><svg
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
          </button>
        </li>
        <li>
          <span href="#"
            class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 ">{{currentPage}}
            de {{totalPages}}</span>
        </li>
        <li>
          <button (click)="nextPage()" [disabled]="currentPage === totalPages"
            class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"><svg
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
          </button>
        </li>
      </ul>
    </nav>

  </div>
</div>
