<h2 mat-dialog-title>{{ isEditing ? 'Editar' : 'Crear' }} Categoría</h2>
<mat-dialog-content class="space-y-4">
  <form #form="ngForm" (ngSubmit)="onSave()">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="category.name" name="name" required #name="ngModel" [disabled]="isLoading" />
      <mat-error *ngIf="name.invalid && name.touched">El nombre es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full mt-2">
      <mat-label>Descripción</mat-label>
      <textarea matInput [(ngModel)]="category.description" name="description" maxlength="150" #description="ngModel"
        [disabled]="isLoading">
      </textarea>
      <mat-hint align="end">{{category.description?.length || 0}}/150</mat-hint>
    </mat-form-field>

    <!-- <mat-form-field appearance="fill" class="w-full mt-2">
      <mat-label>Imagen (URL)</mat-label>
      <input matInput [(ngModel)]="category.image_url" name="image_url" [disabled]="isLoading" />
      <mat-hint>Pega la URL de la imagen</mat-hint>
    </mat-form-field> -->

    <!-- <app-main-container *ngIf=" loadingImage">
      <div role=" status">
        <svg aria-hidden=" true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
          viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor" />
          <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentFill" />
        </svg>
      </div>
    </app-main-container> -->

    <mat-label>Imagen de la categoría</mat-label>

    <!-- Mostrar imagen cargada -->
    <div *ngIf="category.image_url; else fileInput" class="my-6 flex justify-center">
      <!-- Contenedor de imagen -->
      <div class="relative w-full max-w-md h-46">
        <img [src]="category.image_url" alt="Imagen de la categoría"
          class="w-full h-64 object-cover rounded-lg shadow border border-gray-300 dark:border-gray-600 bg-white" />
        <button type="button" (click)="quitarImagen()"
          class="absolute top-2 right-2 bg-red-600 hover:bg-red-700 text-white p-2 rounded-full shadow-md transition">
          <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>

    <!-- Dropzone -->
    <ng-template #fileInput>
      <div class="flex items-center justify-center w-full mt-4">
        <label for="dropzone-file-category"
          class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600 transition">
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" fill="none" viewBox="0 0 20 16">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5A5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
              <span class="font-semibold">Click para subir</span>
            </p>
            <p class="text-xs text-gray-500 dark:text-gray-400">JPG, PNG, JPEG, WEBP (máx. 10MB)</p>
          </div>
          <input id="dropzone-file-category" type="file" class="hidden" (change)="onFileSelected($event)"
            accept="image/*" />
        </label>
      </div>
    </ng-template>

    <mat-dialog-actions align="end">
      <button mat-button type="button" (click)="onCancel()" [disabled]="isLoading">
        Cancelar
      </button>
      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid || isLoading">
        <span *ngIf="!isLoading">{{ isEditing ? 'Actualizar' : 'Crear' }}</span>
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
